<div class="row">
	<div class="jumbotron span11">
		<h1> Daniel Haugen</h1>
		<h2> Software Engineer</h1>
	</div>
</div>
<div class="row">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">My Goals</h3>
		</div>
		<div class="well">
			To get an outstanding job and excel in software engineering.
		</div>
		<div class="well">
			To learn new technologies and concepts in the workspace.
		</div>
	</div>
</div>



