
<div class="row jumbotron span11">
	<h1> Daniel Haugen</h1>
	<h2> Software Engineer</h1>
</div>

<div class="row">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">My Goals</h3>
		</div>
		<div class="well">
			To secure a position where I can use my development skills to help the organization achieve growth.
		</div>
		<div class="well">
			To excel in software engineering.
		</div>
		<div class="well">
			To learn and master new technologies and concepts in the workspace.
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Education</h3>
		</div>
		<div class="well">
			Graduate with a B.S. in Computer Science from Saint Mary's University of Minnesota in May 2015 <br/>
			Expected GPA: 3.4 <br/>
			Computer Science Major <br/>
			Mathematics and Physics Minors
		</div>
		<div class="well">
			Graduate of Waseca Senior High School in 2011 with a 3.3 GPA
		</div>
	</div>
</div>