<div class="jumbotron">
	<h3>
	<%= link_to "Github page", "https://github.com/dbhaug" %><br/>
	<%= link_to "Bitbucket page", "https://bitbucket.org/dbhaug11" %><br/>
	<%= link_to "Linkedin", "https://www.linkedin.com/pub/daniel-haugen/b2/9a4/838/" %><br/>
	<a href="mailto:danielhaugencontact@gmail.com">Email Me</a>
	</h3>
</div>