
<div class="col-md-12 row">
	<div class="jumbotron heading">
		<h2>Formal Work Experience</h2>
	</div>
	<div class="row">
		<div>
			<h2>Engineering Intern</h2>
		</div>
		<div>
			Summer 2014
		</div>
		<div>
			Worked with supervisors to: <br/>
			streamline labor efficiency through data collection and analysis.<br/>
			install production monitoring system to allow for the tracking of injection molding machines<br/><br/>
			Updated and maintained local product database for use in the monitoring system.
		</div>
	</div>
	<div class="row">
		<div>
			<h2>Software Tester</h2>
		</div>
		<div>
			Summer 2010
		</div>
		<div>
			Worked with supervisors and dev team to isolate and identify interface and functionality bugs in prerelease software.
		</div>
	</div>
	<div class="row">
		<div>
			<h2>Production Helper</h2>
		</div>
		<div>
			Summers 2011, 2012, 2013
		</div>
		<div>
			Worked in a team to produce a quality product under time constraints.
			<br/>
		</div>
	</div>
</div>
<div class="col-md-12 row">
	<div class="jumbotron heading">
		<h2>Technical Skills</h2>
	</div>
	<div class="row">
		<div>
			<h2>Languages</h2>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Language</th>
					<th>Time Used<br></th>
					<th>Ability</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Java</td>
					<td>3 years in school<br></td>
					<td>Excellent</td>
				</tr>
				<tr>
					<td>C/C++/C# core syntax<br></td>
					<td>1 year in school<br></td>
					<td>Moderate</td>
				</tr>
				<tr>
					<td>Python</td>
					<td>1.5 years in school<br></td>
					<td>Good</td>
				</tr>
				<tr>
					<td>Ruby</td>
					<td>3/4 year in school<br></td>
					<td>Good</td>
				</tr>
				<tr>
					<td>Racket</td>
					<td>Semester</td>
					<td>Moderate</td>
				</tr>
				<tr>
					<td>PHP</td>
					<td>Just beginning<br></td>
					<td>beginner</td>
				</tr>
				<tr>
					<td>HTML</td>
					<td>Semester</td>
					<td>Moderate</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div>
			<h2>Platforms</h2>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Platform</th>
					<th>Time Used<br></th>
					<th>Ability</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Windows</td>
					<td>Life</td>
					<td>Professional</td>
				</tr>
				<tr>
					<td>Linux</td>
					<td>4 years<br></td>
					<td>Moderate</td>
				</tr>
				<tr>
					<td>Android Development<br></td>
					<td>2 semesters<br></td>
					<td>Good</td>
				</tr>
				<tr>
					<td>Ruby on Rails<br></td>
					<td>1 semester<br></td>
					<td>Good<br></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div>
			<h2>Concepts</h2>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Concept</th>
					<th>Time Used<br></th>
					<th>Ability</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Object Oriented<br></td>
					<td>All 4 years of school<br></td>
					<td>Excellent<br></td>
				</tr>
				<tr>
					<td>Functional</td>
					<td>2 semesters<br></td>
					<td>Moderate</td>
				</tr>
				<tr>
					<td>Web Development<br></td>
					<td>2 semesters<br></td>
					<td>Good</td>
				</tr>
				<tr>
					<td>MVC<br></td>
					<td>3 semesters<br></td>
					<td>Good<br></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
