<div class="row">
	<h1>Formal work experience</h1>
	<div class="row">
		<div class="span3">
			<h2>Woodstream Corporation</h2>
		</div>
		<div class="span2">
			Summer 2014
		</div>
		<div class="span5">
			Experience
		</div>
	</div>
</div>