<div class="inner cover well no-border">
  <h1 class="cover-heading">Daniel Haugen</h1>
  <p class="lead"></p>
  <p class="lead">
    <%= link_to "Continue", aboutMe_path, class: "btn btn-lg btn-default"%>
  </p>
</div>