<div class="jumbotron col-md-12 heading">
	<h2>Completed Projects</h2>
</div>
<div class="col-md-6">
	<h3>Rails Application</h3>
	<%= link_to "Running site", "https://dbhaug-ratings-app.herokuapp.com/" %> (Might take ~45-65 seconds for server to start on Heroku)<br/>
	<%= link_to "Github repo", "https://github.com/dbhaug/ratings-app" %><br/>
	A favorites sharing site akin to pinterest but with a formal 5 star rating system with a review/comment system.<br/>
	Full featured user and admin authentication system. <br/>

	Makes use of the Ruby on Rails web platform with hosting done through Heroku.<br/>
	Database developed using Ruby's active record, locally against mySQL and on Heroku with postgres.<br/>
	Javascript helps make the website feel dynamic and Bootstrap CSS styling helps make the website look more professional.
</div>
<div class="col-md-6">
	<h3>Android Application</h3>
	<%= link_to "Bitbucket repo", "https://bitbucket.org/dbhaug11/cs290/src/c8792f17376ab205c560e7446f8ec833371f5a5c/StockTracking/?at=master" %><br/>
	An Android application that allows the user to track stocks.<br/>
	Authentication done with the etrade server through Oauth 1.2<br/>
	Local android database used to track data.<br/>
</div>

<div class="jumbotron col-md-12 heading">
	<h2>In Progress Projects</h2>
</div>
<div class="col-md-6">
	<h3>Garbage Collector</h3>
	A C-based generational garbage collector<br/>
	A Garbage Collector using the traditional malloc interface
</div>
<div class="col-md-6">
	<h3>Real Estate</h3>
	Working with Senior Class to develop a Real Estate Web app that interfaces with sandbox MLS database.
	Built using PHP and CodeIgniter
</div>