/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

*/

@import "bootstrap-sprockets";
@import "bootstrap";

.container {
	padding-top: 60px;
	padding-bottom: 100px;
}
.heading {
	margin-top: 20px;
	padding-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.headingdouble {
	margin-right: 90px;
}

body {
	background: image-url("circuit.jpg");
	background-size:  stretch;
	color: #000000;
}
.cover {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.jumbotron {
	background-color: #337D38;
}

.well {
	background-color: #B1E59A;
	border-color: #000000;
}

a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #FF0000;
}

/* mouse over link */
a:hover {
    color: #0000FF;
}

/* selected link */
a:active {
    color: #0000FF;
}

.no-border {
	border-width: 0px;
}
